.header-content {
    background-image: url("./../images/delicious-healthy-asian-food-gray-textured-background-with-copy-space_24972-1021.png");
    height: 50vh;
    background-size: cover;
    background-position: center center;

    h1 {
        font-weight: bold;
    }

}

.profile {
    .acount-options {
        background-color: #F7F7F7;

        ul {
            li {
                padding: 20px;
            }
        }
    }

   
}