.pagination {
    margin-top: 60px;

    li {
        a {
            color: black !important;
            box-shadow: none !important;

            &.active-page {
                background-color: $second-color !important;
                color: white !important;
                border: 0 !important;

            }
        }


    }

}