<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns="http://www.w3.org/1999/html">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>توت</title>
    <link rel="Icon" href="{% static 'img/logo.png'">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="  {% static 'css/recipe-2.css'%}">
    <link rel="stylesheet" href="  {% static 'css/my-profile.css'%} ">
    <link rel="stylesheet" href= " {% static 'css/bootstrap.rtl.min.css'%} ">

        <link rel="Icon" href="{% static 'img/logo.png'%}">




</head>
<body>
<!-- LOGO  -->
<header>
        <div class="logo d-flex justify-content-center">
            <a href="{%url 'index' %}"><img src=" {% static 'img/logo.png'%}" alt=""></a>
        </div>
        <!-- LOGO -->
        <!-- START NAVBAR  -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">

                <div class="collapse navbar-collapse justify-content-between " id="navbarScroll">
                    <ul class="navbar-nav offset-md-4  my-2 my-lg-0 " style="--bs-scroll-height: 100px;">
                        {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="{%url 'index' %}">الرئيسية</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link active-nav " aria-current="page" href="{%url 'profile' %}">الملف الشخصي</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link  " aria-current="page" href="{%url 'recipes_page' %}">الوصفات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="{%url 'logout' %}">تسجيل خروج</a>
                        </li>
                        {%else%}
                         <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="{%url 'index' %}">الرئيسية</a>
                        </li>
                           <li class="nav-item">
                            <a class="nav-link  " aria-current="page" href="{%url 'recipes_page' %}">الوصفات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="{%url 'register' %}">تسجيل جديد</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="{%url 'login' %}">تسجيل دخول</a>
                        </li>
                        {%endif%}
                    </ul>
                </div>
            </div>

        </nav>
</header>

<div style="background-image: url({%static 'img/delicious-healthy-asian-food-gray-textured-background-with-copy-space_24972-1021.png'%})" class="header-content d-flex justify-content-center align-items-center">
            <h1>حسابي</h1>
        </div>

 <!-- START PROFILE SECTION -->
    <div class="profile mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="acount-options text-center">
                        <ul class="list-unstyled">
                            <li style="background-color: #422E7E;"><a class="text-decoration-none text-white "
                                    href="{%url 'profile' %}">الملف الشخصي</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile-data">
                        <div class="profile-pic d-flex justify-content-center align-items-center">
                            <div class="picture">
                                <div  style="color:#422E7E; border-color:#422E7E;" class="pic"></div>
                                <h3 class="text-center mt-3">{{request.user.first_name}}</h3>
                            </div>
                        </div>
                        <div class="profile-details">
                            <div class="detail-group">
                                <h5>الاسم</h5>
                                <p>{{request.user.first_name}} {{request.user.last_name}}</p>
                            </div>
                            <div class="detail-group">
                                <h5>البريد الالكتروني</h5>
                                <p>{{request.user.email}}</p>
                            </div>
                            <div class="detail-group">
                                <h5>التفضيلات</h5>
                                 <span>مجموع التفضيلات </span>
                                 <span>{{totalReview}}</span>
                               <!-- START RECPIES -->
    <div class="recipes">
        <div class="container">
            <div class="recipes-items mt-5">
                <div class="row">
                          {% for recpie in list %}
                            {% if forloop.counter <= 8 %}
                    <div class=" col-md-6 col-xl-3 mb-3">
                        <div class="recipe-item border-1 rounded">
                            <div class="recipe-img img-fluid">
                                <img height="200" width="150"  style=" height='250px' width='200px'"  src="{{recpie.image.url}}"
                                    alt="">
                            </div>
                            <h6>{{recpie.name}}</h6>

                            <a href="{% url 'recipe_page2' recpie.id %}" style="background-color: #422E7E;" class="show-recipe btn w-100 mt-4 text-white">عرض الوصفة</a>
                        </div>
                    </div>
                  {%endif%}
             {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END RECIPIES -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END PROFILE SECTION -->



<!-- START FOOTER -->
    <footer class="mt-5">
        <div style=" background-image:url({% static 'img/menu-bg-four.png'%}) " class="upper-footer text-center">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center">
                    <h4 class="mb-0">ابقى على علم بأحدث وصفات ونصائح</h4>

                </div>

            </div>


        </div>
        <div class="lower-footer">
            <div class="container">
                <div class="img img-fluid d-flex justify-content-center align-items-center">
                    <img src="{% static 'img/Group_69.png'%}" alt="logo">

                </div>
                <div class="navigation">
                    <ul class="list-unstyled d-flex justify-content-center ml-2">
                        <li><a href="{%url 'index' %}">الرئيسية</a></li>
                        <li><a href="{%url 'recipes_page' %}">الوصفات</a></li>
                        <li><a href="">راسلنا</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </footer>
    <!-- END FOOTER -->
</body>